<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <p class="footer__love">
                <script>document.write('&copy;&nbsp;' + (new Date()).getFullYear());</script>
                <noscript>&copy;2021</noscript> All rights reserved
                &mdash; Life on Life LLC
            </p>
            <ul class="footer__links">
                <li class="footer__link">
                    <a href="/">Home</a>
                </li>
                <li class="footer__link">
                    <a href="/privacy">Privacy</a>
                </li>
                <li class="footer__link">
                    <a href="/terms">Terms</a>
                </li>
                <li class="footer__link">
                    <a href="/support">Support</a>
                </li>
            </ul>
        </div>
    </div>
</footer>