<!DOCTYPE html>
<html dir="auto" lang="en">

<head>
	{% include html_header.html %}
	<link rel="stylesheet" href="/assets/markdown.css" />
</head>

<body>
	<main>
		<article class="page">
			<div class="page__content">
				<div class="markdown">
					{{content}}
				</div>
			</div>
		</article>

	</main>

	{% include page_footer.html %}

	<script type="text/javascript" src="/assets/tobi.min.js" />
	</script>
	<script>
		window.onload = function () {
			var tobi = new Tobi();
		};
	</script>

</body>

</html>